<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/styles.css">

</head>
<body>
<div class="center">
    <div class="subject">
        <div class="top">
            <div class="title">
                <p>用户管理系统</p>
            </div>
            <div class="login1">
               <a href="login">登录</a>
            </div>
        </div>
    </div>
<!--    登录界面-->

</div>
</body>
</html>